@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #081b29;
  color: #ededed;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}



.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.home-content {
  flex: 1;
}

.home-image img {
  width: 420px;
  /* Adjust as needed */
  height: auto;
  object-fit: cover;
}





.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px 5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.scrolled {
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  backdrop-filter: blur(10px);
  /* Blur effect */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /* Optional shadow */
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
}

.header.hidden {
  transform: translateY(-100%);
  /* Moves the navbar out of view */
  transition: transform 0.3s ease-in-out;
  /* Smooth hiding effect */
}

.header {
  transition: transform 0.3s ease-in-out;
  /* Smooth showing effect */
}

.foot {
  text-align: center;
  padding: 1px;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  backdrop-filter: blur(10px);
  /* Blur effect */
  color: white;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0s;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}


.home {
  height: 100vh;
  /* background: url("Coverpf.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 8%;
}

.home-content {
  max-width: 650px;
}



.contact-content {
  max-width: 900px;
  padding: 3%;
}


.project-content {
  max-width: 1200px;
  padding: 0 3%;
}

.about-content {
  max-width: 1255px;
  padding: 0 3%;
}

.minihead {
  max-width: 700px;
  padding: 0 4%;
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.subhead {
  color: #00abf0;
}

.list {
  color: #00abf0;
  font-weight: 500;
}

h1 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

/* h1::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation:showRight 1s ease forwards ;
  animation-delay: 0.2s;
} */

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.1s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.2s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

li {
  font-size: 15px;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 30px;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 2s;
  animation: manipActiveHover 0.1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}

.home-imgHover:hover {
  background: #081b29;
  opacity: 0.8;
}

.home-imgHover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
  z-index: 100;
}

/* KEYFRAME ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}








#projects {
  text-align: center;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 275px;

  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.647);

}

img {
  width: 100%;
  border-radius: 10px;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
}

p {
  font-size: 16px;
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

a:hover {
  color: #00abf0;
}


#aboutid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  /* Reduced gap */
}

.about-content {
  flex: 1;
  max-width: 65%;
  /* Slightly reduced width */
  margin-right: 10px;
  /* Reduced space between text and image */
}

#aboutid img {
  max-width: 25%;
  /* Adjust image width */
  height: auto;
  border-radius: 10px;
  margin-left: -10px;
  /* Pull image closer */
}





#contactid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0%;
  gap: 20px;
  padding: 50px;
  /* background: #f8f9fa; */
  border-radius: 10px;
}

.contact-content {
  flex: 1;
  max-width: 100%;
  margin-bottom: 200px;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
  max-width: 45%;
  /* background: #fff; */
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.288);
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: transparent;
  border: 1px solid #ddd;
  color: white;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

form input:focus,
form textarea:focus {
  border-color: #00abf0;
  box-shadow: 0 0 5px #00abf0;
}

form textarea {
  min-height: 120px;
  resize: none;
}

form button {
  background: #00abf0;
  /* color: white; */
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background: #0056b3;
}
